@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root {
  --card-white: #fffbf6;
  --cyan: #76b5bc;
  --dark-brown: #382314;
  --medium-brown: #92857a;
  --red: #ec755d;
  --white: #ffffff;
  --background: #f8e9dd;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.container {
  margin: 2rem;
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header {
  height: 125px;
  border-radius: 1rem;
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  color: var(--card-white);
}

main {
  height: 511px;
  background-color: var(--card-white);
  display: flex;
  flex-direction: column;
  padding: 1.7rem 2.2rem;
  border-radius: 1rem;
}

main h1 {
  color: var(--dark-brown);
}

.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.charts {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  border-top: 0.1rem solid var(--background);
}

.total-number h1 {
  color: var(--dark-brown);
}

.total-last-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-last-month h5 {
  margin-left: auto;
  color: var(--dark-brown);
}

.title {
  color: var(--white);
}
p {
  color: var(--medium-brown);
}
