@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --beaver: #9e7f66;
  --cod-gray: #111111;
  --mirage: #17192b;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;

  --lineheight--sm: 1.3rem;
  --lineheight--lg: 1.875rem;

  --font-heading-xl: 5rem;
  --font-heading-l: 3rem;
  --font-heading-m: 1.25rem;
  --font-heading-s: 1.063rem;

  --font-body-1: 1.25rem;
  --font-body-2: 1rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-body-1);
  font-weight: var(--font-weight-regular);
}

button .dark {
  border: 1px solid var(--white);
}

button .light {
  border: 1px solid var(--cod-gray);
}

.hero-button {
  border: 2px solid var(--white);
  background-color: #ffffff00;
  color: var(--white);
  padding: 1.2rem 2rem;
  letter-spacing: 2.5px;
  font-size: 1.063rem;
  cursor: pointer;
  width: 245px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 3rem;
}

/* button:hover .dark {
}

button:hover .light {
} */

h1 {
  font-size: var(--font-heading-xl);
  font-weight: var(--font-weight-light);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--font-heading-l);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: var(--ebony-clay);
}

h3 {
  font-size: var(--font-heading-m);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.25px;
}

h4 {
  font-size: var(--font-heading-s);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 2.5px;
}

.header-container,
.hero-container,
.middle-container,
.highlights-container,
.footer-container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 50px 0px 0px 0px;
  margin: 0;
}

footer {
  background-color: var(--cod-gray);
}

footer p {
  color: var(--white);
}

.hero {
  background-image: url(./images/homepage/hero-bg-desktop.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  height: 754px;
}

.hero-text {
  color: white;
  padding-top: 230px;
  width: 508px;
}

.hero-content {
  margin-top: 1rem;
  line-height: var(--lineheight--lg);
}

.middle {
  background-image: url(./images/patterns/pattern-curve-top-right.svg),
    url(./images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position-y: 14.2rem, bottom;
  background-position-x: left, right;
}

.middle-container {
  display: flex;
  flex-direction: column;
}

.middle-family,
.middle-locally {
  display: flex;
  gap: 9rem;
}

.middle-family {
  margin-bottom: -8rem;
}

.middle-locally {
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 9rem;
}

.middle-content {
  align-self: center;
}

.middle-body-text {
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: -0.225px;
  color: var(--ebony-clay);
}

.middle-image img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.first {
  transform: translateY(-4rem);
}

.second {
  transform: translateY(10rem);
}

.middle-pattern {
  position: absolute;
  z-index: 1;
  left: 975px;
  top: 180px;
}

.highlights {
  background-color: var(--cod-gray);
  color: white;
  margin-top: -3rem;
}

.highlights-container {
  display: flex;
  padding: 9rem 0;
}

.highlights-content {
  flex: 2 2 auto;
}

.highlights-title {
  color: white;
}

.salmon {
  background-image: url(./images/homepage/salmon-desktop-tablet.jpg);
}

.beef {
  background-image: url(./images/homepage/beef-desktop-tablet.jpg);
}

.chocolate {
  background-image: url(./images/homepage/chocolate-desktop-tablet.jpg);
}

.highlights-item {
  display: flex;
  gap: 5rem;
}

.highlights-item:not(:last-child) {
  margin-bottom: -0.6rem;
  border-bottom: 1px solid #ffffff17;
  padding-bottom: 2.4rem;
}

.highlights-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.highlights-item-image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.highlights-item-image::after {
  content: " ";
  width: 3.2rem;
  height: 1px;
  background-color: var(--beaver);
  position: absolute;
  right: 0;
  top: 1.6rem;
  -webkit-transform: translateX(3.2rem);
  transform: translateX(3.2rem);
}

@media (max-width: 1052px) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.333;
    letter-spacing: -0.6px;
  }
  header {
    display: flex;
    margin-top: 370px;
  }

  .hero {
    background-image: url(./images/homepage/hero-bg-tablet.jpg);
    background-position: initial;
  }

  .hero-container {
    height: 950px;
  }

  .hero-text {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 570px;
  }
}

@media (max-width: 587px) {
  h1 {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -0.4px;
  }
  header {
    position: absolute;
    margin-top: 200px;
  }

  .hero {
    background-image: url(./images/homepage/hero-bg-mobile.jpg);
    background-position: initial;
  }

  .hero-container {
    height: auto;
  }

  .hero-text {
    width: 100%;
    padding-top: 340px;
  }
}
