@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --beaver: #9e7f66;
  --cod-gray: #111111;
  --mirage: #17192b;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;
  --hover-gray: #4c4c4c;
  --red: #b54949;

  --lineheight--sm: 1.3rem;
  --lineheight--lg: 1.875rem;

  --font-heading-xl: 5rem;
  --font-heading-l: 3rem;
  --font-heading-m: 1.25rem;
  --font-heading-s: 1.063rem;

  --font-body-1: 1.25rem;
  --font-body-2: 1rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-body-1);
  font-weight: var(--font-weight-regular);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./images/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 12%;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 4rem;
}

li {
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.063rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 28px;
  letter-spacing: 2.5px;
}

li:not(.active) {
  opacity: 0.5;
}

li.active {
  color: var(--hover-gray);
}

button .dark {
  border: 1px solid var(--white);
}

button .light {
  border: 1px solid var(--cod-gray);
}

.hero-button {
  border: 2px solid var(--white);
  background-color: #ffffff00;
  color: var(--white);
  padding: 1.2rem 2rem;
  letter-spacing: 2.5px;
  font-size: 1.063rem;
  cursor: pointer;
  width: 245px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 3rem;
}

.gathering-button {
  border: 2px solid var(--cod-gray);
  background-color: var(--cod-gray);
  color: var(--white);
  padding: 1.2rem 2rem;
  letter-spacing: 2.5px;
  font-size: 1.063rem;
  cursor: pointer;
  width: 245px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 3rem;
}

.calltoaction-button {
  border: 2px solid var(--white);
  background-color: #11111100;
  color: var(--white);
  padding: 1.2rem 2rem;
  letter-spacing: 2.5px;
  font-size: 1.063rem;
  cursor: pointer;
  width: 245px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-button:hover,
.calltoaction-button:hover {
  background-color: var(--white);
  color: var(--cod-gray);
  transition: 0.3s;
}

.gathering-button:hover {
  background-color: var(--white);
  color: var(--cod-gray);
  border: 2px solid var(--cod-gray);
  transition: 0.3s;
}

h1 {
  font-size: var(--font-heading-xl);
  font-weight: var(--font-weight-light);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--font-heading-l);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: var(--ebony-clay);
}

h3 {
  font-size: var(--font-heading-m);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.25px;
}

h4 {
  font-size: var(--font-heading-s);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 2.5px;
}

.error-msg {
  margin-top: 1rem;
  color: var(--red);
  font-size: 0.8rem;
}

.header-container,
.hero-container,
.middle-container,
.highlights-container,
.gathering-container,
.footer-container,
.calltoaction-container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 50px 0px 0px 0px;
  margin: 0;
}

footer {
  background-color: var(--cod-gray);
}

footer p {
  color: var(--white);
  margin-top: 1rem;
}

.hero {
  background-image: url(./images/homepage/hero-bg-desktop.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-booking {
  background-image: url(./images/booking/hero-bg-desktop.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
}

.hero-container {
  height: 754px;
}

.hero-text {
  color: white;
  padding-top: 230px;
  width: 508px;
}

.hero-content {
  margin-top: 1rem;
  line-height: var(--lineheight--lg);
}

.middle {
  background-image: url(./images/patterns/pattern-curve-top-right.svg),
    url(./images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position-y: 14.2rem, bottom;
  background-position-x: left, right;
}

.middle-booking {
  background-image: url(./images/patterns/pattern-curve-bottom-right.svg);
  background-repeat: no-repeat;
  height: 321px;
}

.middle-container {
  display: flex;
  flex-direction: column;
}

.middle-content.right {
  margin-top: 10rem;
}

.middle-content.left {
  margin-top: 20rem;
}

.middle-content-booking {
  position: relative;
  display: flex;
  flex-direction: column;
}

.booking-form {
  width: 540px;
  min-height: 545px;
  padding: 3rem;
  background-color: var(--white);
  align-self: self-end;
  transform: translateY(-20rem);
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.booking-form.success {
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.booking-form.success h5 {
  text-decoration: underline;
}

.success-content {
  border: 1px solid gainsboro;
  background-color: #f1f1f1;
  padding: 1rem;
  margin: 3rem 0 3rem 0;
  font-size: 1.1rem;
}

.booking-contacts {
  display: flex;
  flex-direction: column;
}

.booking-contacts label {
  margin-bottom: 2rem;
}

.booking-contacts input {
  width: 100%;
  padding: 0 0 1rem 1rem;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--ebony-clay);
}

.booking-contacts .error,
.booking-schedule .error {
  border-color: var(--red);
  color: var(--red);
}

.booking-contacts .error::placeholder,
.booking-schedule .error::placeholder {
  color: var(--red);
}

.booking-form fieldset {
  border: 0;
}

legend .error {
  color: var(--red);
}

.booking-schedule input {
  width: 100%;
  padding: 0 0 1rem 1rem;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--ebony-clay);
}

.booking-schedule select {
  width: 100%;
  padding: 0 0 1rem 1rem;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--ebony-clay);
}

.booking-schedule fieldset {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.inputs-booking {
  display: flex;
  gap: 1rem;
}

.inputs-booking label {
  flex: 1 1 50%;
}

.label-booking {
  flex: 1 0 25%;
}

.counter-form {
  display: flex;
  justify-content: space-around;
  padding: 0 0 1rem 1rem;
  margin: 3rem 0 3rem 0;
  border-bottom: 1px solid var(--ebony-clay);
}

.counter-form button {
  all: unset;
  color: var(--beaver);
  font-size: 2rem;
  cursor: pointer;
}

.button-submit {
  width: 444px;
  height: 64px;
  flex-shrink: 0;
  background-color: var(--cod-gray);
  border: 1px solid var(--cod-gray);
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.063rem;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: var(--white);
  border: 1px solid var(--cod-gray);
  transition: 0.2s;
  color: var(--cod-gray);
}

.middle-family,
.middle-locally {
  display: flex;
  gap: 9rem;
}

.middle-family {
  margin-bottom: -8rem;
}

.middle-locally {
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 9rem;
}

.middle-body-text {
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: -0.225px;
  color: var(--ebony-clay);
}

.first {
  transform: translateY(-4rem);
}

.first img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.second {
  transform: translateY(10rem);
}

.middle-pattern {
  position: absolute;
  z-index: 1;
  left: 975px;
  top: 180px;
}

.middle-pattern-booking {
  position: absolute;
  z-index: 0;
  left: 475px;
  top: 170px;
}

.highlights {
  background-color: var(--cod-gray);
  color: white;
  margin-top: -3rem;
}

.highlights-container {
  display: flex;
  padding: 9rem 0 6rem 0;
}

.highlights-content {
  flex: 1 1 50%;
  padding-right: 110px;
  transform: translateY(-2.5rem);
}

.highlights-title {
  color: white;
  margin: 3rem 0;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.highlights-body-text {
  font-size: 1.25rem;
  letter-spacing: -0.22px;
  line-height: 1.667;
}

.salmon {
  background-image: url(./images/homepage/salmon-desktop-tablet.jpg);
}

.beef {
  background-image: url(./images/homepage/beef-desktop-tablet.jpg);
}

.chocolate {
  background-image: url(./images/homepage/chocolate-desktop-tablet.jpg);
}

.highlights-item {
  display: flex;
  gap: 5rem;
}

.highlights-item:not(:last-child) {
  margin-bottom: -0.6rem;
  border-bottom: 1px solid #ffffff17;
  padding-bottom: 2.4rem;
}

.highlights-items {
  display: flex;
  flex-direction: column;
  flex: 1 1 47%;
  gap: 3rem;
}

.highlights-item-image {
  width: 12.8rem;
  height: 6.3rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.highlights-item-image::after {
  content: " ";
  width: 3.2rem;
  height: 1px;
  background-color: var(--beaver);
  position: absolute;
  right: 0;
  top: 1.6rem;
  -webkit-transform: translateX(3.2rem);
  transform: translateX(3.2rem);
}

.highlights-item-title {
  margin-bottom: 1rem;
}

.highlights-item-text {
  line-height: 1.3;
  font-size: 1rem;
}

.gathering {
  background-image: url(./images/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position-x: -23.8rem, left;
}

.gathering-container {
  display: flex;
  padding: 9rem 0;
  gap: 9rem;
}

.gathering-item {
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: -0.225px;
  color: var(--ebony-clay);
}

.gathering-slide {
  position: relative;
}

.bottom-pattern {
  position: absolute;
  top: -42px;
  right: 411px;
}

.gathering-underline {
  height: 1px;
  width: 9.5rem;
  position: absolute;
  background-color: var(--beaver);
  transform: translate(-12.5rem, -1rem);
  z-index: -1;
  opacity: 0;
}

.gathering-underline.active {
  opacity: 1;
}

.gathering-slider-container img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}

.calltoaction-content {
  padding: 8 8rem;
}

.calltoaction {
  background-image: url(./images/homepage/ready-bg-desktop.jpg);
  padding: 5.4rem 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.calltoaction-container h2 {
  color: white;
}

.calltoaction-container {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 7.8rem 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  flex: 1 1 20%;
}

.footer-content {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 1.333;
    letter-spacing: -0.6px;
  }
  header {
    display: flex;
    margin-top: 370px;
  }

  .booking header {
    margin-top: 0;
  }

  .hero {
    background-image: url(./images/homepage/hero-bg-tablet.jpg);
    background-position: center;
  }

  .hero-container {
    height: 1046px;
  }

  .hero-text {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 510px;
    padding-bottom: 9rem;
  }

  .hero-booking .hero-text {
    padding-top: 110px;
  }

  .booking-form {
    align-self: center;
  }

  .middle {
    background-position-y: 12.2rem, bottom;
    background-position-x: -26rem, 26rem;
  }

  .middle-content.right {
    margin-top: 0;
  }

  .middle-content.left {
    margin-top: 0;
  }

  .middle-content {
    text-align: center;
  }

  .middle-family,
  .middle-locally {
    flex-direction: column;
  }

  .middle-family {
    gap: 0;
  }

  .middle-locally {
    gap: 13rem;
  }

  .middle-image {
    display: flex;
    align-self: center;
  }

  .middle-pattern {
    left: 55px;
    top: 180px;
  }

  .salmon {
    background-image: url(./images/homepage/salmon-desktop-tablet@2x.jpg);
  }

  .beef {
    background-image: url(./images/homepage/beef-desktop-tablet@2x.jpg);
  }

  .chocolate {
    background-image: url(./images/homepage/chocolate-desktop-tablet@2x.jpg);
  }

  .gathering-container {
    flex-direction: column;
    gap: 0rem;
    padding: 9rem 1.5rem;
  }

  .gathering-slider-container {
    display: flex;
    justify-content: center;
  }

  .gathering-text-container {
    text-align: center;
  }

  .gathering-underline {
    transform: translate(3rem, 0rem);
    width: 4.5rem;
  }

  .gathering-titles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .highlights-content {
    text-align: center;
    padding-right: 0;
  }

  .highlights-container {
    flex-direction: column;
    padding: 9rem 2rem;
  }

  .highlights-item-image {
    height: 8.5rem;
  }

  .calltoaction-container {
    flex-direction: column;
    padding: 0 1.5rem;
    text-align: center;
    align-self: center;
  }

  .calltoaction {
    background-image: url(./images/homepage/ready-bg-tablet@2x.jpg);
  }

  .footer-container {
    padding: 0 3rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  footer {
    padding: 4.8rem 0;
  }

  .middle-pattern-booking {
    display: none;
  }
}

@media (max-width: 587px) {
  h1 {
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: -0.4px;
  }

  .middle {
    background-image: none;
  }

  .middle-family {
    gap: 0;
  }

  .middle-container {
    padding: 0 1rem;
  }

  .hero-container {
    padding: 0 1rem;
  }

  header {
    position: absolute;
    margin-top: 200px;
  }

  .booking header {
    margin-top: 20px;
  }

  .hero {
    background-image: url(./images/homepage/hero-bg-mobile.jpg);
    background-position: center;
  }

  .hero-container {
    height: auto;
  }

  .hero-text {
    width: 100%;
    padding-top: 340px;
    padding-bottom: 9rem;
  }

  .hero-booking .hero-text {
    padding-top: 140px;
  }

  .middle-pattern {
    display: none;
  }

  .middle-locally {
    gap: 13rem;
  }

  .middle-family,
  .middle-locally,
  .highlights-container,
  .gathering-container,
  .footer-container,
  .footer-content,
  .calltoaction-container,
  .highlights-item {
    flex-direction: column;
  }

  .highlights-item {
    text-align: center;
    gap: 3rem;
  }

  .calltoaction-container {
    padding: 0 1.5rem;
  }

  .highlights-container {
    padding: 6rem 1.5rem;
  }

  .highlights-item-image::after {
    display: none;
  }

  .highlights-item-image {
    height: 245px;
    width: 100%;
    background-position: center;
  }

  .highlights-body-text {
    margin: 0 0 3rem 0;
  }

  .highlights-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0;
    padding-right: 0;
    transform: none;
  }

  .middle-image {
    display: flex;
    align-self: center;
  }

  .first {
    transform: translateY(-4rem);
  }

  .salmon {
    background-image: url(./images/homepage/salmon-mobile.jpg);
  }

  .beef {
    background-image: url(./images/homepage/beef-mobile.jpg);
  }

  .chocolate {
    background-image: url(./images/homepage/chocolate-mobile.jpg);
  }

  .gathering-container {
    gap: 2rem;
    padding: 7rem 1.5rem;
  }

  .gathering-slider-container picture {
    display: flex;
    justify-content: center;
  }

  .gathering-titles {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .gathering-text-container {
    text-align: center;
  }

  .gathering-underline {
    left: 6.4rem;
  }

  .bottom-pattern {
    display: none;
  }

  .calltoaction {
    background-image: url(./images/homepage/ready-bg-mobile@2x.jpg);
  }

  .footer-container,
  .calltoaction-container {
    align-items: center;
  }

  .footer-content,
  .calltoaction-container {
    text-align: center;
  }

  .middle-pattern-booking {
    display: none;
  }

  .booking-form {
    width: 100%;
  }

  .button-submit {
    width: 100%;
  }
}
