@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary  */
  --brightblue: hsl(220, 98%, 61%);
  --checkbrackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light theme */
  --background: hsl(0, 0%, 98%);
  --background-container: white;
  --verylightgray: hsl(0, 0%, 98%);
  --lightgrayishblue: hsl(233, 11%, 84%);
  --fontcolor: hsla(235, 9%, 61%, 1);
  --darkgrayishblue: hsl(236, 9%, 61%);
  --verydarkgrayishblue: hsl(235, 19%, 35%);
  --verylightgrayishblue: hsl(236, 32%, 92%, 1);
}

[data-theme="dark"] {
  --background: hsl(235, 21%, 11%);
  --background-container: hsl(235, 24%, 19%);
  --lightgrayishbluehover: hsl(236, 33%, 92%);
  --darkgrayishblue: hsl(234, 11%, 52%);

  --verydarkgrayishbluesecond: hsl(237, 14%, 26%);
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--fontcolor);
}

input,
input:focus {
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  flex: 1 1;
}

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  font-size: 1.125rem;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 15px;
}

.background-image-dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 18.75rem;
  background: url("./images/bg-desktop-light.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 18.75rem;
  background: url("./images/bg-desktop-dark.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}

main,
header {
  max-width: 440px;
  margin: 0 auto;
}

header {
  padding: 4.8rem 0 2.495rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  position: relative;
  min-height: 100vh;
  min-width: 375px;
  padding: 0 var(--sz-content-side-padding);
  z-index: 10;
  background-color: var(--background);
}

.todo-create {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.todo-create__check {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--verylightgrayishblue);
  cursor: pointer;
}

.todo-create__check.completed {
  background: url("./images/icon-check.svg");
  border: none;
}

.strike {
  text-decoration: line-through;
  color: var(--lightgrayishblue);
}

.todo-text {
  color: var(--verydarkgrayishblue);
}

::placeholder {
  color: hsla(235, 9%, 61%, 1);
}

.todo-create__cross {
  display: none;
}

.todo-create__cross {
  cursor: pointer;
  align-self: center;
}

.todo-form-light {
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 1.25rem 1.5rem;
}

.todo-form-dark {
  border-radius: 5px;
  background: var(--background-container);
  margin-bottom: 1.5rem;
  padding: 1.25rem 1.5rem;
}

.todo-border {
  width: 441px;
  position: absolute;
  border-bottom: 1px solid #e7e6e7;
  margin-top: 36px;
  margin-left: -25px;
}

.todo-container-light {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.todo-container-dark {
  border-radius: 5px;
  background: var(--background-container);
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.todo-alert {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-item:hover .todo-create__cross {
  display: block;
}

.todo-item-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.todo-action {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 1rem 0 0.5rem 0;
}

.todo-filters {
  display: flex;
  gap: 1rem;
}

.todo-clear {
  cursor: pointer;
}

.todo-length {
  cursor: pointer;
}

.todo-filters {
  cursor: pointer;
}

.todo-filters {
  font-weight: 700;
}

.todo-filters p:hover {
  color: var(--verydarkgrayishblue);
}

.todo-clear p:hover {
  color: var(--verydarkgrayishblue);
}

.todo-filters p:first-of-type {
  color: var(--brightblue);
}

.toggle-theme-btn {
  border: none;
  border-radius: var(--radius-outline);
  background-color: transparent;
  cursor: pointer;
  padding: 0.12rem 0.12rem 0 0.12rem;
}
