@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --light-blue: #0079ff;
  --gray: #697c9a;
  --grayish-blue: #4b6a9b;
  --dark-grayish-blue: #2b3442;
  --light-white: #f6f8ff;
  --white: #fefefe;
}

* {
  font-family: "Space Mono", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-white);
  color: var(--grayish-blue);
  font-size: 0.938rem;
  font-weight: 400;
}

a:link {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: 400;
}

h1 {
  font-size: 1.625rem;
  color: var(--dark-grayish-blue);
}

h2 {
  font-size: 1.375rem;
  color: var(--dark-grayish-blue);
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.813rem;
  font-weight: 400;
  color: var(--grayish-blue);
}

.container {
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-title {
  display: flex;
  justify-content: space-between;
}

header {
  height: 69px;
  border-radius: 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 1rem 0.5rem 1rem 1rem;
}

.search-input {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  align-items: center;
  gap: 1rem;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 1.2rem;
}
input:focus-visible {
  outline: none;
}

.toggle-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

button {
  border-radius: 0.7rem;
  background-color: var(--light-blue);
  color: var(--white);
  width: 106px;
  height: 50px;
  border: none;
  cursor: pointer;
}

main {
  height: 419px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 1.7rem 2.2rem;
  border-radius: 1rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.not-available {
  color: var(--gray);
}
.container-user {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.container-user > img {
  border-radius: 100%;
  height: 117px;
}

.container-user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 21rem;
}

.container-repos {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-radius: 10px;
  gap: 5rem;
  background: var(--light-white);
  padding: 1rem 2rem;
}

.container-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.date,
.description,
.container-repos p {
  color: var(--grayish-blue);
}

.inner-user {
  display: flex;
  justify-content: space-between;
}

.date {
  align-self: center;
}

.inner-location {
  display: flex;
  flex: 1 1 230px;
  align-items: center;
  gap: 1rem;
}
.inner-twitter {
  display: flex;
  flex: 1 1 230px;
  align-items: center;
  gap: 1rem;
}
.inner-website {
  display: flex;
  flex: 1 1 230px;
  align-items: center;
  gap: 1rem;
}
.inner-office {
  display: flex;
  flex: 1 1 230px;
  align-items: center;
  gap: 1rem;
}
